body {
  margin: 0;
  background: white;
  font-family: system-ui, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 가운데 콘텐츠 영역 */
.content-wrapper {
  width: min(1000px, 90%);
  margin-top: 80px;
}

/* Contact - Channel 가로 배치 */
.bottom-sections {
  display: flex;
  gap: 300px; /* A-B 사이 간격 조절 */
  margin-top: 5px;
}

.metal-regular {
  font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
}


